# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/EpidemicReportingSystem.iml
.idea/compiler.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
EpidemicReportingSystem.iml
EpidemicReportingSystem.war
target
