<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LeaveServiceMapper">

    <insert id="submit" parameterType="Leave">
        insert into `leave`(u_id,start_time,end_time,to_where,actions,state)
         values (#{uId},#{startTime},#{endTime},#{toWhere},#{actions},#{state})
    </insert>

    <select id="findByState" resultType="HashMap">
        select  id,u_id from `leave` where state = #{state} and u_id = #{id}
    </select>

    <delete id="deleteById">
        delete from `leave` where id = #{id} and u_id = #{uId}
    </delete>

    <select id="getUsersByType" resultType="User" parameterType="int">
        select * from user where type = #{type}
    </select>

    <update id="judgeLeave">
        update `leave` set state = #{type} where id = #{id}
    </update>

    <select id="getLeaveId" resultType="int">
        select id from `leave` where u_id = #{uId} and state = #{type}
    </select>


    <select id="getLeaveById" resultType="Leave" parameterType="int">
        select * from `leave` where id = #{id}
     </select>
</mapper>
